body {
    font-family: "Libre Baskerville", serif;
    position: relative;
}

.jumbotron {
    background: url("banner.jpg") no-repeat; 
    background-size: cover;
    height: 270px;
    padding-bottom: 250px;
    margin-bottom: 20px;
}

hr {
    width: 73%;
    margin-top: 40px;
    margin-bottom: 50px;
}

#intro {
    margin-left: 630px;
    margin-right: 15px;
}

#intro-header {
    font-style: italic;
    margin-top: 12px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.9em;
    line-height: 1.8em;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-size: 1.5em;
    margin-top: 10px;
    padding: 20px 70px;
    display: block;
    border: 1px solid #f04d30;
    color: #f04d30;
    text-align: center;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #f04d30 !important;
    color: white;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important; 
}

#displayButton, #changeButton, #clearButton {
    font-size: 2em;
    margin-top: 10px;
    padding: 11px 65px;
    display: none;
    border: 1px solid #f04d30;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: white;
    color: #f04d30;
    text-align: center;
    cursor: pointer;
}

#displayButton:hover, #changeButton:hover, #clearButton:hover {
    color: white;
    background-color: #f04d30;
}