
body {
    font-family: "Libre Baskerville", serif;
    position: relative;
}

.jumbotron {
    background: url("banner.jpg") no-repeat; 
    background-size: cover;
    height: 290px;
    padding-bottom: 280px;
}

iframe {
    margin-top: 10px;
}

#intro {
    margin-left: 630px;
    margin-right: 15px;
}

#intro-header {
    font-style: italic;
    margin-top: 12px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.9em;
    line-height: 1.8em;
}

/* File upload */

#file-upload {
    display: none;
}

.custom-file-upload {
    text-align: center;
    border: 1px solid #f04d30;
    display: inline-block;
    padding: 20px 70px;
    margin-top: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: #f04d30;
}

.custom-file-upload:hover {
    background-color: #f04d30 !important;
    color: white;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}

a:hover {
    color: white;
}

 /* Buttons */
#displayButton, #clearButton, #changeButton {
    border: 1px solid #f04d30;
    background-color: white;
    color: #f04d30;
    padding: 10px 61px;
    font-size: 1.9em;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#displayButton:hover, #clearButton:hover, #changeButton:hover {
    background-color: #f04d30;
    color: white;
}

